<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News List</title>
    <link rel="stylesheet" th:href="@{/css/news-list-styles.css}" />
    <script>
        function confirmDelete(id) {
            if (confirm("진짜 삭제하실건가요?")) {
                window.location.href = `/api/admin/news/delete/${id}`;
            }
        }
    </script>
</head>
<body>
<div class="container">
    <header class="page-header">
        <h1 class="page-title">News List</h1>
        <nav class="nav-buttons">
            <button onclick="location.href='/api/admin'" class="btn btn-secondary">메인 페이지</button>
        </nav>
    </header>
    <main class="news-list">
    <a th:href="@{/api/admin/news/create}" class="btn btn-primary" style="margin-bottom: 1.5rem">Create News</a>
        <table class="news-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Activity</th>
                <th>Content</th>
                <th>Image</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="news : ${newsList}">
                <td th:text="${news.id}"></td>
                <td th:text="${#temporals.format(news.date, 'yyyy-MM-dd')}"></td>
                <td th:text="${news.activity}"></td>
                <td th:text="${news.content}" class="news-content"></td>
                <td class="news-images">
                    <div th:each="imageUrl : ${news.imageUrls}" class="image-container">
                        <img th:src="@{${imageUrl}}" alt="News Image" class="news-image"/>
                    </div>
                </td>
                <td class="action-buttons">
                    <a th:href="@{/api/admin/news/edit/{id}(id=${news.id})}" class="btn btn-edit">Edit</a>
                    <a href="javascript:void(0);" th:onclick="'confirmDelete(' + ${news.id} + ')'" class="btn btn-delete">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>